name: Renovate

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Renovate
        uses: renovatebot/github-action@v46.0.1
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}